doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/testing/sample01.css')
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='/testing/sample01.js')
    script(src='/javascripts/sample01.js')
    script(src='/javascripts/sample01_sleep.js')
    script(src='/javascripts/sample01_callback.js')
  body
    block content
